@import '../../src/styles/colors.scss';

.navbar {
  font-family: $font-family-base;
  display: flex;
  flex-direction: column;
  gap:0.1rem;
  padding: 1rem 7.125rem; 
  background-color: $light-blue; /* Light blue background */
  border-top: 1px solid $border-blue;
  border-bottom: 1px solid $border-blue; /* Light blue border */
  box-shadow: 0 -4px 6px -2px rgba(0, 51, 102, 0.1);
  @media (max-width: 1200px) {
    padding: 1rem 4rem;
  }
  @media (max-width: 900px) {
    padding: 1rem 1.5rem;
  }
  @media (max-width: 768px) {
   padding-top: 5rem;
  }
  .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    //margin-top: -3.5rem;
    @media (max-width: 768px) {
      margin-top: 0.1rem;
    }
    @media (max-width: 650px) {
      flex-direction: column;
      margin-top: 0.1rem;
      align-items: flex-start;
    }
  }
   .hamneighb{
    display:flex;
    flex-direction: row;
   }
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    @media (max-width: 768px) {
      display: block;
    }
  }

  .hamburgerLine {
    width: 100%;
    height: 3px;
    background-color: #003366;
    transition: all 0.3s ease;
  }

  .logo {
    display: flex;
    align-items: center;
    //margin-right: 50px;

    img {
      border-radius: 50%;
      height: 5rem;
      margin-right: 10px;
      @media (max-width: 768px) {
        height: 5rem;
      }
    }

    .logoText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      h1 {
        margin: 0;
        font-size: $font-size-biggest;
        font-weight: 600;
        color: #0a0b0c ; 
        white-space: nowrap;
        @media (max-width: 768px) {
          font-size: 20px;
        }
      }

      span {
        font-size: $font-size-normal;
        color: $primary-blue; 
        @media (max-width: 768px) {
          font-size: 15px;
        }
      }
    }

  

    .profileImage {
      margin-left: 15px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid $primary-blue; /* Medium blue border for the image */
      }
    }
  }

  .navLinks {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    @media (max-width: 860px) {
      gap: 1.2rem;
    }
  
    li {
      a {
        text-decoration: none;
        color: #8e8e8e; /* Grey color for inactive links */
        font-size: 16px;
        transition: color 0.3s ease, transform 0.3s ease;
  
        &:hover {
          color: $hover-blue; /* Blue on hover */
        }
      }
    }
  
    .activeLink {
      a {
        color: #003366; /* Blue color for active link */
        font-size: 18px; /* Slightly bigger font size for active link */
        font-weight: bold;
        position: relative;
  
        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 100%;
          height: 2px;
          background-color: #003366; /* Blue underline */
          border-radius: 1px;
        }
      }
    }
  }
  
  

  .navExtras {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      display: none;
    }

    .contactButton {
      background-color: #0056b3;
      color: #fff;
      border:1px solid #0056b3;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
      font-weight: bold;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $light-blue; 
        border:1px solid #0056b3;
        color:#0056b3;
      }
    }
  }
}

.trustItems{
  display: flex;
  flex-direction: row;
  align-items: center;
  //margin-right:-3rem;
  @media (max-width: 768px) {
   flex-direction: column;
   }
  @media (max-width: 650px) {
    margin-right:0rem;
   }
  div{
    margin-right:-3rem;
   //width:10rem;
    img{
      width:10rem;
      @media (max-width: 768px) {
       width:10rem;
       }
    }
    &:nth-of-type(2){
      img{
        //display: none;
       // padding-left:3rem;
        margin-top: 2rem;
       width:19rem;
        @media (max-width: 768px) {
          margin-top:-3rem;
          margin-bottom: -3rem;
          width:19rem;
        }
      }
    }
  }
  
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff; /* Make sure the background is solid when sticky */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow for a raised effect */
}
@media (max-width: 650px) {
  .trustItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Adjust alignment to fit images */
    margin-top: 3rem;
    margin-bottom: 2rem;
    overflow: hidden; /* Prevent scrolling due to animation */
    
    div {
      position: absolute;
      //width: 100%; 
      animation: moveLeft 6s infinite ease-in-out;
      margin-left: 25%;
      @media (min-width: 500px) {
        margin-left: 40%;
      }
      
      &:nth-of-type(2) {
        animation-delay: 3s;
        margin-left: 10%;
        @media (min-width: 500px) {
          margin-left: 25%;
        }
        
        img {
          width: 19rem;
        }
      }
      
      img {
        width: 10rem;
      }
    }
  }

  @keyframes moveLeft {
    0% {
      transform: translateX(100%); /* Start off-screen to the right */
      opacity: 0;
    }
    10% {
      transform: translateX(0); /* Arrive at the center */
      opacity: 1;
    }
    40% {
      transform: translateX(0);
      opacity: 1;
    }
    60% {
      transform: translateX(-100%); 
      opacity: 1;
    }
    90% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(-100%); 
      opacity: 0;
    }
  }
}

.qrsinfo{
  display:flex;
  flex-direction: row;
  gap:0.4rem;
justify-content: space-between;
  .logo{
   // width: 100%;
  }
 
}
.QRcode {
  position: relative;
  cursor: pointer;
  @media (max-width: 650px) {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }

  img {
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease-in-out;
    @media (max-width: 1000px) {
      width: 100px;
      height: 100px;
    }
  }

  span {
    display: block;
    text-align: center;
    @media (max-width: 1000px) {
      font-size: 0.8rem;
      white-space: nowrap;
    }
  }
}

.enlargedOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); // Black overlay with transparency
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.enlargedQRCode {
  position: relative;

  img {
    width: 400px; // Enlarged QR code size
    height: 400px;
    z-index: 100000;
    @media (max-width: 768px) {
      width: 250px;
      height: 250px;
    }
  }

  .closeButton {
    position: absolute;
    top: -80px;
    right: -40px;
    background-color: #fff;
    border: none;
    color: #000;
    font-size: 24px;
    cursor: pointer;
    z-index: 102;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}
