.popup {
    position: fixed;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
   width: fit-content;
   // max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 900000;
    animation: fadeOut 3s 1.5s forwards; /* Start fading out after 1.5 seconds */
  
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
  
      p {
        margin: 0;
        text-align: center;
        color: #fff;
      }
  
      .closeButton {
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
  
    &.success {
      background-color: #1e90ff; /* Blue for success */
      //animation: shake 0.5s ease, fadeOut 3s 1.5s forwards; 
    }
  
    &.error {
      background-color: #ff4d4d; /* Red for error */
      animation: shake 0.5s ease, fadeOut 3s 1.5s forwards; /* First shake, then fade out */
    }
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
