// src/styles/TopBar.module.scss
@import '../../src/styles/colors.scss';
.topBar {
  font-family: $font-family-base;
  background-color: #f8f9fa;
  padding: 1rem 7.125rem; 
  @media (max-width: 1200px) {
    padding: 1rem 4rem;
  }
  @media (max-width: 900px) {
    padding: 1rem 1.5rem;
  }

  .hamburger {
    display: none;
    font-size: 1.9rem;
    color: $dark-blue;
    cursor: pointer;
  }
  .contactInfo {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    @media (max-width: 860px) {
      gap: 0rem;
    }
    div{
      display:flex;
      flex-direction: row;
      align-items: center;
      height:1rem;
    }
    span {
      margin-right: 1.25rem; // 20px
      font-size: 0.9rem; // 14px
      color: $dark-blue;
      display: flex;
      align-items: center;

      &:hover{
        color: #0056b3;
      }
      @media (max-width: 860px) {
        margin-right: 1rem;
      }
    }
    
    svg {
      width: 1rem; 
    height: 1rem; 
      margin-right: 0.5rem; // 8px
      color: #007bff; // Set the color to blue
      &:hover{
        color: #0056b3;
      }
    }
  }

  .socialMedia {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
  
    @media (max-width: 860px) {
      gap: 1rem;
    }
  
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto; // Allow divs to size automatically to their content
  
      &:first-child {
        width: auto; // No need for a specific width
      }
  
      a {
        color: #007bff; // Set the color to blue
        font-size: 1rem; // Ensure consistent icon size
  
        svg {
          width: 1rem; // Set the width explicitly for the SVG icons
          height: 1rem; // Set the height explicitly for the SVG icons
          transition: color 0.3s ease;
          color: #007bff;
        }
  
        &:hover {
          color: #0056b3; // Darker blue on hover
        }
      }
    }
  }
}


.showSocial, .hambug{
  display: flex;
  justify-content: space-between;
  width:100%;
}
.humburger_close{
  display:none;
}
.hamburger2{
  display:block;
  color:white;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .topBar {
    position:fixed;
    z-index:10000;
    width:100%;
  .contactInfo, .socialMedia {
   // display: none;
    height: 0;
    opacity: 0;
    overflow: hidden;
   
  }
  .hamburger {
    display: block; 
  }
  .showSocialMenu1 {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center horizontally */
    justify-content: center;  /* Center vertically */
    width: 100%;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: auto; /* Automatically adjust height to fit content */
    opacity: 1;
    transition: height 3s ease, opacity 0.8s ease;
     svg{
      color: #007bff;
     }
    span {
      color: #007bff;
      font-size: large;
      width: 100%;
      text-align: center;  

              &:hover{
          color: #0056b3;
        }
    }
  }

   .showSocialMenu2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #dfe4e9;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    width:100%;
    height: auto; /* Automatically adjust height to fit content */
    opacity: 1;
    transition: height 3s ease, opacity 0.8s ease;
    a{
      color: #007bff;     
      font-size: large;
        &:hover{
          background-color: #0056b3;
          border-radius: 50%;
          padding: 0.5rem;
          color:white
        }
    }
   }
   .showSocialMenu{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: -1.5rem;
    padding-right: -1.5rem;
    width:100%;
   }
 
  }
}
