@import '../../styles/colors.scss';

.mediaCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.mediaCard {
  width: 100%;
  max-width: 1900px; /* Adjust the max-width for videos and PDFs */
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pdfContainer {
  padding: 20px;

  .pdfHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .pdfIcon {
      font-size: 2rem;
      margin-right: 10px;
      color: #e74c3c;
    }



    .pdfActions {
      display: flex;
      justify-content: center;
    }

    .pdfLink {
      background-color: #007bff;
      color: white;
      padding: 8px 16px;
      border-radius: 4px;
      text-decoration: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .pdfPreviewImage {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  h2 {
    font-size: $font-size-big;
    color: $primary-blue;
    margin-bottom: 1rem;
    font-weight: $font-weight-bold;
    position: relative;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50px;
        height: 3px;
        background-color: $hover-blue;
        border-radius: 3px;
    }
}
}

.videoContainer {
  padding: 10px;
 // padding-top:20px !important;

  .videoTitle {
    font-size: $font-size-big;
    color: $primary-blue;
    margin-bottom: 1rem;
    font-weight: $font-weight-bold;
    position: relative;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50px;
        height: 3px;
        background-color: $hover-blue;
        border-radius: 3px;
    }
}

  .videoViewer {
    width: 100%;
    height: 400px; /* Adjust the height as necessary */
    border: none;
  }
}
