
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size-smallest: 0.75rem;  /* 12px */
  --font-size-small: 0.875rem;    /* 14px */
  --font-size-normal: 1rem;       /* 16px */
  --font-size-big: 1.125rem;      /* 18px */
  --font-size-biggest: 1.25rem;   /* 20px */

  --font-family-base: 'Roboto', sans-serif;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-normal); /* Normal (16px) */
 overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
  position: fixed; /* Prevents scrolling on mobile by fixing the position */
  width: 100%; /* Ensure full width to avoid layout shifts */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
