@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size-smallest: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-normal: 1rem;
  --font-size-big: 1.125rem;
  --font-size-biggest: 1.25rem;

  --font-family-base: 'Mulish', sans-serif;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-normal);
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  max-width: 100%;
  height: auto;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  max-width: 100%;
  overflow-x: hidden;
}
