@import '../../../styles/colors.scss';

.testimonialsContainer {
  padding: 40px 7.25rem;
  text-align: center;
  background-color: $light-blue;
  border-radius: 8px;
  margin-bottom: 40px;

  @media (max-width: 768px) {
    padding: 2rem 1.5rem;
  }

  .header {
    font-size: 36px;
    color: $dark-blue;
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
   
    .icon {
      margin-right: 10px;
      color: $dark-blue;
      font-size: 30px;
    }
    &:hover{
      text-decoration: underline;
    }
  }

  .description {
    font-size: 18px;
    color: $dark-blue;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .mainVideoContainer {
    margin-bottom: 20px;
    position: relative;

    .mainVideo {
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
  }

  .thumbnailNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media (max-width: 768px) {
      flex-direction: row;
    }

    .icon {
      font-size: 24px;
      cursor: pointer;
      color: $dark-blue;

      &:hover {
        color: $primary-blue;
      }
    }
  }

  .thumbnailContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .thumbnailWrapper {
    width: 120px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    border: 2px solid transparent;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      border-color: $hover-blue;
    }

    &.active {
      border: 3px solid $primary-blue;
      transform: scale(1.1);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .thumbnailImage {
      border-radius: 5px;
      width: 100%;
    }
  }
}
